<tr>
    <td id="id">{{id}}</td>
    <td id="name">{{name}}</td>
    <td id="sex">{{sex}}</td>
    <td id="multiplication">
        {{#if multiplication}}
            <span class="glyphicon glyphicon-ok" style="color:green"></span>
        {{else}}
            <span class="glyphicon glyphicon-remove" style="color:red"></span>
        {{/if}}
    </td>
    <td id="bodyLenght">{{bodyLenght}}</td>
    <td id="molt">{{molt}}</td>
    <td id="buyDate">{{buyDate}}</td>
    <td id="status">
        {{#if status}}
            <span class="glyphicon glyphicon-ok-circle" style="color:green"></span>
        {{else}}
            <span class="glyphicon glyphicon-ban-circle" style="color:red"></span>
        {{/if}}
    </td>
    <td class="col-xs-1">
        <div class="btn-group btn-group-xs pull-right">
            <button class="btn btn-warning">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
            <button class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </td>
</tr>